body {
width: 100%;
height: 100%;
margin: 0 auto;
background-color: #4682B4;
}
ul {
   padding: 0px!important; 
}
.menu-principal {
width: 100%;
background-color: #034998;
height: 60px;
background-size: 200px 100px;
border-top: 5px solid #000000;
}
main, .content {
margin: 0 auto;
width: 980px;
position: relative;
}
.logo {
 float: left;
height: 40px;
background-color: #034998;    
}
.redes-sociais ul li {
margin-left: 25px;
display: inline-block;
float: left;
list-style: none;
}
.redes-sociais {
width: 25%;
float: right;
}
.header-2 {
background-color: #034998;
background-size: 400px 400px;
width: 1200px;
margin: 0 auto;
padding: 16px;

}
.menu-urls {
height: 80px;
border-bottom: 5px solid #000000;
background-color: #034998;
font-size: 25px;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.menu ul li {
    display: inline-block;
    color: #000000;
    margin-left: 15px;
    height: 100px;
    background-size: 200px;
    
}
.menu ul li a {
    color: #000000;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
    height:200px ;
}
.menu ul li a:hover {
    color: lightblue;
}
.menu {
width: 70%;
float: left;
height: 200px;
border-top: 20px;
}
.busca {
    text-align: center;
    width: 30%;
    float: right;
}
.busca input {
    background-image: url(../img/icone-search.png);
    background-repeat: no-repeat;
    height: 36px;
    padding: 12px;
    width: 190px;
    margin-top: 10px;
    background-position: 96%;
    border: 1px solid #d6d6d6;
}
.col-100 {
    width: 100%;
    float: left;
    position: relative;
    
}
.titulo{
    text-align: center;
    font-size: 40px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.gif1{
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 400px;
    height: 300px;
}
.title{
    text-align: center;
    font-size: 60px;
    margin-top: 35px;
}
.title b {
    font-size: 32px;
    margin-top: 50px;
    text-align: center;
    background-color: white;
    border-style: solid;
    border-radius: 50px;
    border-width: 3px;
    padding: 5px;
}

.cc img {
width: 200px;
height: 200px;
align-self: center;
}

.cc h4 {
    font-size: 20px;
   text-align: center;
}
.form b {
    font-size: 30px;
    border-style: solid;
    border-radius: 50px;
    border-width: 3px;
    background-color: white;
    padding: 5px;
}
.form {
font-size: 20px;
}

.botao{
    background-color: #069cc2;
    border-radius: 6px;
    padding: 20px;
    cursor: pointer;
    color: #000000;
    border:none;
    font-size: 16px;
    border:3px solid #000000
}

.texto-destaque {
    text-align: center;
}
.texto-destaque strong {
    color: #000000;
}
.texto-destaque h1 {
    text-transform: uppercase;
    font-size: 50px;
    color: #000000;
}
.texto-destaque p {
    font-size: 20px;
    color: #000000;
}


.col-3 img { 
    width: 250px;
    height: 200px;

}

.link a{
   color: black
}

.col-2 { 
    font-size: 20px;
}

a:visited {
    color: rgb(0, 0, 0);
}

a:hover{
    color: lightblue;
}

.sob { 
    text-align: center;
    font-size: 40px;
    font-style: normal;
    border-style: solid;
    border-radius: 10px;
    border-width: 3px;
    background-color: white;
    padding: 1px;
}

.mus{
    text-align: center;
    align-content: center;
    font-size: 25px;
}

.ser{
    text-align: center;
    font-size: 40px;
    border-radius: 10px;
    border-width: 3px;
    background-color: white;
    padding: 1px;
    border:3px solid #000000
}

.series{
    text-align: center;
    font-size: 20px;
}
.series img {
width: 600px;
height: 300px;
}

.curriculum{
    background-color:#034998 ;
    height: 50px
}
.fc{
    background-color: white;
    text-align: center;
    font-size: 40px;
    border-bottom: 2px solid #000000;
    padding: 20px;
}
.contato{
    text-align:justify;
    font-size: 35px;
}
.contato img {
    float: left;
    width: 190px;
    height: 150px;
    margin-left: 100px;
    border-radius: 10px;
    border-width: 3px;
    background-color: rgb(0, 0, 0);
    padding: 5px;
    border:3px solid #000000
}

.contato b {
    border-radius: 10px;
    border-width: 3px;
    background-color:#87CEFF;
    padding: 2px;
    border:3px solid #000000
}
.contato a:hover{
    color: lightblue;
}
.contato a {
    color: black;
}
.cont{
    border-width: 20px;
    background-color: white;
    padding: 20px;
    border:2px solid #000000   
}

.content{
    border-radius: 10px;
    border-width: 3px;
    background-color: white;
    padding: 1px;
    border:3px solid #000000
}

.col-3 b strong{
font-size: 20px;
border-bottom:3px solid #000000;
}

.col-3 img {
border: 3px solid #000000
}

.title strong {
    border-radius: 20px;
    border-width: 10px;
    padding: 25px;
    border: 3px solid #000000;
    background-color: white;
}
.jav{
font-size: 30px;
text-align: center;
border: 1px solid #000000;
    background-color: white;
}

.exer{
    font-size: 20px;
    text-align: center;
}

.atividades{
    text-align: center;
    border: 3px solid #000000;
    background-color: white;
    padding: 10px;
}
